.wrapper {text-align:center;padding:50px 0;background-color:#ffffff;overflow:hidden;}

.navbar {min-height:40px;font-size:1.5em;line-height:1em;text-align:left;padding:5px;position:fixed;top:0;width:100%;z-index:100;margin:0;}
.navbar .glyphicon {padding:5px;}
.navbar .logo {width:55px;float:right;margin:0 5px;}

.footer {position:fixed;bottom:0;width:100%;font-size:0.6em;line-height:1em;text-align:left;padding:0;-webkit-box-shadow:0 -1px 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 5px rgba(0, 0, 0, 0.075);-moz-box-shadow:0 -1px 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 5px rgba(0, 0, 0, 0.075);box-shadow:0 -1px 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 5px rgba(0, 0, 0, 0.075);z-index:100;}
.footer a {display:inline-block;text-align:center;width:32%;text-decoration:none;padding:5px 0;}
.footer a .glyphicon {padding:0 0 5px;font-size:1.8em;}
.footer a.active {background-color:#337ab7;color:#fff;}

.content {width:70%;margin:0 auto;color:#666;}
.content.wide {width:100%;}
.content .btn {width:100%;}

#start {color:#666;padding:0;}
#start .content {padding:0;}
#start .logo {width:70%;margin-top:2.5em;}

#dashboard {color:#666}

#navigation {text-align:left;background-color:#007c57;color:#fff;z-index:101;width:100%;height:100%;top:0;position:fixed;overflow-y:scroll;left:-100%;transition: all 0.3s ease 0s;padding:10px;}
#navigation.open {left:0;}
#navigation .back {color:#fff;font-size:1.5em;line-height:1em;}

.table > thead > tr > th {background-color:#97b314;color:#ffffff;border-bottom:0;font-weight:normal;text-align:center;}