*, *:before, *:after, *:focus {box-sizing:border-box;}

.map {position:relative;width:100%;max-width:800px;margin:20px auto 0;}
.map img {max-height:100%;display:block;width:auto;display:relative;}
.map .base {z-index:1;}
.map .grid {position:absolute;left:0;top:0;width:100%;height:auto;z-index:10;opacity:0.5;}

.map .waypoint:after {content:"";display:block;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);width:50%;height:50%;border-radius:50%;}

.map .waypoint.path:after {background-color:#1398E4;}
.map .waypoint.start:after {background-color:orange;} /*Startpunkt*/
.map .waypoint.end:after {background-color:green;} /*Endpunkt*/

.grid-box {width:3.33333%;position:absolute;background-color:transparent;z-index:100;}
.grid-box:before {content:"";display:block;padding-top:100%;}
